cfg:
    arch_name: "nlnet"
    python_module: "nlnet"
    search_menu_name: "full"
    input_proj_depth: 1
    # num_res: 8
    # nres_per_block: 8
    # embed_dim: 16
    # ps: 5
    # stride0: 1
    num_res: 5
    nres_per_block: 5
    embed_dim: 9
    ps: 3
    stride0: 1
    nheads:
    - 2
    - 2
    - 2
    depth:
    - 2
    - 2
    - 2
    # arch_name: "colanet"
    # python_module: "colanet"
    # pretrained_root: "../colanet"
    subdir: "trte_sr"
    root: "."
    bw: False
    n_colors: 3
    ndevices: 1
    device: "cuda:0"
    saved_dir: "output/run_models/trte_sr/"
    checkpoint_dir: "output/train/trte_sr/checkpoints/"
    ntype: "sr"
    use_wandb: True