base: exps/trte_tinyvrt/base.cfg
learning: exps/trte_tinyvrt/learning.cfg
chkpt_root: "./output/train/trte_tinyvrt/checkpoints"
mesh:
  group0:
    warp_mode:
    - default
    - default
    gradient_clip_val: 
    - 0
    - 0.5
  group1:
    spynet_path:
      # - ""
      - "../vrt/weights/spynet_sintel_final-3d2a1287.pth"
  listed0:
    ntype:
    - g
    - g
    - pg
    - pg
    sigma:
    - 30
    - 50
    - 10
    - 10
    rate:
    - -1
    - -1
    - 30
    - 10
stage_0:
  train_prev: null
  exp_0:
    nepochs: 50
    flow: false
  exp_1:
    nepochs: 200
    flow: false
