base: exps/trte_tinyvrt/base.cfg
learning: exps/trte_tinyvrt/learning.cfg
chkpt_root: "./output/train/trte_tinyvrt/checkpoints"
mesh:
  group0:
    warp_mode:
    - default
    - default
    gradient_clip_val: 
    - 0
    - 0.5
  group1:
    spynet_path:
      # - ""
      - "../vrt/weights/spynet_sintel_final-3d2a1287.pth"
  listed0:
    ntype:
    - g
    # - g
    # - g
    # - pg
    # - pg
    sigma:
    - 15
    # - 30
    # - 50
    # - 10
    # - 10
    rate:
    - -1
    # - -1
    # - -1
    # - 30
    # - 10
  listed1:
    nepochs:
    - 300
    save_epoch_list: 
    - "200-225-250-275"
stage_0:
  train_prev: null
  exp_0:
    flow: false
# stage_1:
#   train_prev: stage_0
#   exp_0:
#     nepochs: 200
#     flow: false
#     prev:
#       nepochs: 50
# stage_2:
#   train_prev: stage_1
#   exp_0:
#     nepochs: 300
#     flow: false
#     save_epoch_list: "200-225-250-275"
#     prev:
#       nepochs: 200




